* {
	margin: 0;
	padding: 0;
}

body {
	/* background-color: #f2e8c9; */
	background-image: url('background-image-project.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 20vh;
	color: #FBD864;
	text-shadow: 6px 6px #5B0E00;
}

p {
	padding-bottom: 15px;
	font-family: 'Tajawal', sans-serif;
	color: #FBD864;
	text-shadow: 2px 2px #732b3c;
}

button {
	width: 55vh;
	height: 5vh;
	border: none;
	border-radius: 5vh;
	background-color: #FBD864;
	color: #732b3c;
	font-family: 'Tajawal', sans-serif;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

button:focus {
	outline: 0;
}

#create-button {
	margin-top: 10px;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
