* {
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

h1{
	margin-bottom: 45px;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

textarea.contact-form-text {
	resize: none;
	height: 250px;
	width: 450px;
}

#wr-counter {
	display: flex;
}

#correct-number{
	padding: 3px 100px 0 10px;
}

#wrong-number{
	padding:3px 0 0 10px;
}
